nav.navbar.navbar-default
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			a.navbar-brand(href='/') Node-blog
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav

			form.navbar-form.navbar-left

			ul.nav.navbar-nav.navbar-right
				.form-group
					input.form-control(type='text', placeholder='username')
					input.form-control(type='text', placeholder='password')
				a(href='/login')
					button.btn.btn-default(type='submit') Login

				a(href='/register')
					button.btn.btn-primary(type='button') Register