nav.navbar.navbar-default
	.container-fluid
		// Brand and toggle get grouped for better mobile display
		.navbar-header
			a.navbar-brand(href='/') Thumblr
		// Collect the nav links, forms, and other content for toggling
		#bs-example-navbar-collapse-1.collapse.navbar-collapse
			ul.nav.navbar-nav.navbar-left

			ul.nav.navbar-nav.navbar-right
				if user
								a(href='/createPost')
									button.btn.btn-primary(type='button') Create Post
								a(href='/profile')
									button.btn.btn-primary(type='button') Profile

								a(href='/logout')
									button.btn.btn-primary(type='button') Logout
				else
								form(action='/login', method='POST')
									.form-group
										label(for='exampleInputEmail1') Username
										input#username.form-control(type='username', name='username', placeholder='Username')
									.form-group
										label(for='exampleInputPassword1') Password
										input#password.form-control(type='password', name='password', placeholder='Password')
									button.btn.btn-default(type='submit', id='submit') Login

								a(href='/register')
									button.btn.btn-primary(type='button') Register
